* {
  margin:0;
  padding:0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #CBCBCB;
}

a {
  text-decoration: none;
}

.navbar-nav > li {
  padding: 0px 12px 0px 12px;
}
a:hover {
  text-decoration: none;
}

.hi {
  text-shadow: 1px 1px 10px black;
}

@media screen and (max-width: 800px)
{
  .hi {
    font-size:4rem;
  }
  #pi {
    font-size: 3rem;
  }
}

@media screen and (max-width: 580px)
{
  .hi {
    font-size:3.5rem;
  }
  #pi {
    font-size: 2.5rem;
  }
}

.alert {
  width: 75%;
  margin: 20px auto 0px auto;
}

.glxavor {
  width: 75%;
  margin: 20px auto 0px auto;
}

.glxavor-p {
  margin: 0 auto;
}

.padding {
  padding-bottom: 40px;
}

#fixed {
  height: 400px;
  border-top: 4px solid #f0f0f0;
  border-bottom: 4px solid #f0f0f0;
  background: url("img/back1.jpg") no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

@media screen and (max-width: 575px)
{
  .prog {
    font-size: 3em;
  }
}

@media screen and (max-width: 500px)
{
  .prog {
    font-size: 2em;
  }
}

@media screen and (max-width: 380px)
{
  .prog {
    font-size: 1.5em;
  }
}

.carousel-item > img {
  height: 400px;
  width: 100%;
}

.card {
  margin-bottom: 25px;
}

.social a {
  font-size: 3em;
  padding: 20px;
}

.fa-facebook{color: #3b5998}
.fa-instagram{color: #517fa4}
.fa-twitter{color: #00aced}
.fa-youtube{color: #bb0000}
.fa-google-plus-g{color: #bb4b39}

.fa-facebook:hover , .fa-instagram:hover , .fa-twitter:hover , .fa-youtube:hover , .fa-google-plus-g:hover
{
  color: black;
}

footer {
  background-color: #3f3f3f;
  padding-top: 50px;
  border-top: 4px solid silver;
}
